</script id="home" type="text/x-handlebars">
<div id="accordion">
      <div id="gameSelectSection">
        <p id="gameSelect">
        <div class = "container">
          <form class="form-horizontal" role="form" id="home">
            <div class="form-group">
              <div class="col-lg-offset-2 col-lg-10">
                  <a id="playersLink" class="btn btn-success btn-lg btn-block" href= "#a">Players</a>
                  <a id="newGameLink" class="btn btn-success btn-lg btn-block" href= "#a">Play Game</a>
                  <a id="AdhocLink" class="btn btn-primary btn-lg btn-block" href= "#b">Adhoc entry</a>
                  <a id="historyLink" class="btn btn-warning btn-lg btn-block" href= "#c">History</a>
                </div>
              </div>
          </form>
        </div>        
        </p>
      </div>
</script>