</script id="matches" type="text/x-handlebars">
<div id="accordion">
      <div id="matchSelectSection">
        <p id="matchSelect">
        <div class = "container">
        <H2>Select any Match..</H2>
          <form class="form-horizontal" role="form" id="home">
            <div class="form-group">
              <div class="col-lg-offset-2 col-lg-10">
                  {{#linkTo "playerReports" class="btn btn-success btn-lg btn-block"}}Match_03-25-2014_10_45AM{{/linkTo}}
                  <a id="match2" class="btn btn-success btn-lg btn-block" href= "#a">Match_3_22_2014_10_30_AM</a>
                  <a id="match3" class="btn btn-primary btn-lg btn-block" href= "#b">Match_3_15_2014_10_30_AM</a>
                  <a id="match4" class="btn btn-warning btn-lg btn-block" href= "#c">Match_2_24_2014_10_30_AM</a>
                </div>
              </div>
          </form>
        </div>        
        </p>
      </div>
</script>