</script id="playerCategory" type="text/x-handlebars">
<div id="accordion">
      <div id="playerCategorySelectSection">
        <p id="playerCategorySelect">
        <div class = "container">
        <H2>Select any player..</H2>
          <form class="form-horizontal" role="form" id="home">
            <div class="form-group">
              <div class="col-lg-offset-2 col-lg-10">
                  {{#linkTo "report" class="btn btn-info btn-lg btn-block"}}Batting{{/linkTo}}
                  <a id="bowlingLink" class="btn btn-warning btn-lg btn-block" href= "#a">Bowling</a>
                </div>
              </div>
          </form>
        </div>        
        </p>
      </div>
</script>