</script id="report" type="text/x-handlebars">
<div id="report">
<small class="muted">
	<table class="table table-striped">
	{{#each}}
	<h3>{{id}}</h3>
	{{/each}}
		<thead>
			<tr>
				<th>Bowler</th>
				<th>Kind Of Delivery</th>
				<th>Batsman's response </th>
				<th>Runs Scored</th>
				<th>Shot Style</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td>Rakesh Annavarapu</td>
				<td>Full Length</td>
				<td>Played</td>
				<td>3</td>
				<td>Straight Drive</td>
			</tr>
			<tr>
				<td>Rakesh Annavarapu</td>
				<td>Full Length</td>
				<td>Played</td>
				<td>3</td>
				<td>Straight Drive</td>
			</tr>			<tr>
				<td>Rakesh Annavarapu</td>
				<td>Full Length</td>
				<td>Played</td>
				<td>3</td>
				<td>Straight Drive</td>
			</tr>
		</tbody>
	</table>
	</small>
</div>
</script>