</script id="report" type="text/x-handlebars">
<div id="report">
	<table class="table table-striped">
		<thead>
			<tr>
				<th>Bowler</th>
				<th>Kind Of Delivery</th>
				<th>Batsman's response </th>
				<th>Runs Scored</th>
				<th>Shot Style</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
			</tr>

		</tbody>
	</tablle>
</div>
</script>